body{
    margin: 0;
    padding: 0;
    background-color: #ffff00;
}

.middle{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menos{
    background: none;
    font-size: 40px;
    border: 2px solid #ff0000;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    padding: 12px 20px;
    color: orange;
    width: 80px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

.menos::hover{
    color: #ff0000;
}

.menos::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ff0000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.menos::before{
    transform: scaleX(0);
}

.menos:hover::before{
    transform: scalex(1);
}

.mas{
    background: none;
    font-size: 40px;
    border: 2px solid #00ff00;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    padding: 12px 20px;
    color: #ADD8E6;
    width: 80px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

.mas::hover{
    color: #00ff00;
}

.mas::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00ff00;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.mas::before{
    transform: scaleX(0);
}

.mas:hover::before{
    transform: scaleX(1);
}

.borrar{
    background: none;
    font-size: 40px;
    border: 0;
    margin: 10px;
    width: 80px;
    height: 80px;
    color: red;
}

.input{
    background: none;
    height: 80px;
    width: 150px;
    margin: 20px;
    font-size: 40px
}

.input:invalid{
    color: red;
}

#agregar_persona{
    color: green;
    border: 2px solid green;
    font-size: 25px;
    margin: 15px;
    width: 200px;
    height: 80px;
    background: none;
}

#guardar{
    border: 2px solid #ff0000;
    color: #ff0000;
    font-size: 25px;
    margin: 15px;
    width: 150px;
    height: 80px;
    background: none;
    position: absolute;
    left: 70%;
}

#cargar{
    border: 2px solid #ff0000;
    color: #ff0000;
    font-size: 25px;
    margin: 15px;
    width: 150px;
    height: 80px;
    background: none;
    position: absolute;
    left: 80%
}
